<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon>
        <img class="menuicon" src="https://iwishu.in/ecard/images/iwish-app-icons/menu-button.svg">
      </ion-icon>
    </button>
    <ion-title>iwish
      <span style="color:#8BC34A">u.in</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="logout()">
        <ion-icon>
          <img class="menuicon" src="https://iwishu.in/ecard/images/iwish-app-icons/logout.svg">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="">

  <div class="profile" *ngIf="userDetails">


    <div class="bgprofile">
      <div class="floatleft">
        <img src="{{userDetails.profileImgUrl}}" class="pimg-radius">
      </div>
      <div class="floatright">
        <h2>{{userDetails.name}}</h2>
        <p>{{userDetails.email}}</p>
      </div>
    </div>
    <ion-card>
      <ion-item>
        <ion-icon>
          <img class="metaIcon" src="https://iwishu.in/ecard/images/iwish-app-icons/heart.svg">
        </ion-icon>
        <span class="likesnumber">{{totalLikes}}</span>
        <p>You have maked Likes</p>
      </ion-item>
    </ion-card>
    <div class="likedlist">
      <ion-list *ngFor="let item of eCards; let i = index">
        <ion-item (click)="goToCardDetails">
          <ion-thumbnail item-start>
            <img class="img-radius" src="{{item.imagePath}}">
          </ion-thumbnail>
          <p>{{item.description}}</p>
          <button ion-button icon-left end clear class="btntext">
            <ion-icon>
              <img class="metaIcon" src="https://iwishu.in/ecard/images/iwish-app-icons/eye.svg">
            </ion-icon>
            View
          </button>
        </ion-item>
      </ion-list>

    </div>

  </div>
</ion-content>