page-home {
	h1{
		font-size:18px;
		font-weight:400;
	}
	.card-md,.card-ios,.card-wp{
		width: auto;
		box-shadow: none;
		border: none;
		border-radius: 0px;
		border-bottom: 1px solid #f4f4f4;
		
	}
	.card-md-0{
		margin: 0px;
		margin-top:0px;
		margin-bottom:0px;
		border-bottom: 1px solid #f4f4f4;
	}	
	.timestamp{
		font-size: 12px;
		color:#949494;
	}
	.hearts{
		width: 32px;
	}
	.heartstext{
		color:#d8095f;
	}
	.share{
		width: 22px;
	}
	.download{
		width: 22px;
	}
	.fright{
		float: right;
	}
	p{
		line-height: 22px;
	}

}
