// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-item.sidebar-customize img {
    display: inline-block;
    width: 22px;
    vertical-align: middle;
}
ion-item.sidebar-customize h1 {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 4px;
}
.menuicon{
    width:32px;
    font-weight: 500;
}
.timestamp{
    font-size: 13px;
    color:#ccc ;
}
.toolbar-background-md,.toolbar-background-ios,.toolbar-background-wp {
    border-color: #b2b2b2;
    background: #ffffff;
}
ion-app.md [padding] .scroll-content,ion-app.ios [padding] .scroll-content,ion-app.wp [padding] .scroll-content{
	background: #ffffff;
	padding:0px;
}
.card-ios,.card-wp,.card-md{
	width:100%;
	box-shadow:none;
	border-bottom:1px solid #f4f4f4
}
.card-content-md,.card-content-ios,.card-content-wp {
    padding: 5px 16px;
    font-size: 1.4rem;
    /* line-height: 1.5; */
}
.card-md p,.card-ios p,.card-wp p {
    margin: 0px 0 0 2px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 23px;
    color: #636363;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #0093ff;
    background-color: transparent;
}
