<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon>
        <img class="menuicon" src="https://iwishu.in/ecard/images/iwish-app-icons/left-arrow.svg">
      </ion-icon>
    </button>
    <ion-title>iwish
      <span style="color:#8BC34A">u.in</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="gotToProfile()">
        <ion-icon *ngIf="userDetails==null">
          <img class="menuicon" src="https://iwishu.in/ecard/images/iwish-app-icons/user.svg">
        </ion-icon>
        <ion-icon *ngIf="userDetails!=null">
          <img class="menuicon" src="{{userDetails.profileImgUrl}}">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="sbg" *ngIf="eCard">
  <div class="detail">
    <ion-card class="card-md-0">
      <img src={{eCard.imagePath}}>
      <ion-row>

        <!-- Float the icon left -->
        <button ion-button icon-only clear class="btntext" (click)="checkAuthentication(i)">
          <ion-icon>
            <img class="metaIcon" src="https://iwishu.in/ecard/images/iwish-app-icons/heart.svg">
          </ion-icon>
          {{eCard.likes}} Likes
        </button>

        <!-- Float the icon right -->
        <button ion-button icon-only clear class="btntext">
          <ion-icon>
            <img class="metaIcon" src="https://iwishu.in/ecard/images/iwish-app-icons/share.svg">
          </ion-icon>
          Share
        </button>

      </ion-row>
      <ion-card-content>
        <p>{{eCard.description}}</p>
        <p class="timestamp">Posted at : {{eCard.updatedTime}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="tcomment">
	<ion-list>
	  <ion-item>
			<ion-avatar item-start>
				<img src="https://iwishu.in/ecard/images/iwish-app-icons/girl1.svg">
			</ion-avatar>
			<h2>Puspha</h2>
			<p>I've had a pretty messed up day. If we justfdf rere...</p>
	  </ion-item>
	  <ion-item>
		<ion-avatar item-start>
		  <img src="https://iwishu.in/ecard/images/iwish-app-icons/boy1.svg">
			</ion-avatar>
			<h2>Kumaran</h2>
			<p>I've had a pretty messed up day. If we just...</p>
	  </ion-item>
	  <ion-item>
		<ion-avatar item-start>
		  <img src="https://iwishu.in/ecard/images/iwish-app-icons/girl2.svg">
			</ion-avatar>
			<h2>N Swathi K7</h2>
			<p>I've had a pretty messed up day. If we just...</p>
	  </ion-item>
	  <ion-item>
		<ion-avatar item-start>
		  <img src="https://iwishu.in/ecard/images/iwish-app-icons/boy2.svg">
			</ion-avatar>
			<h2>Kumaran</h2>
			<p>I've had a pretty messed up day. If we just...</p>
	  </ion-item>
	</ion-list>
  </div>
</ion-content>